@import url('https://fonts.googleapis.com/css?family=Nixie+One');

body {
  margin: 0;
  padding: 0;
  font-family: 'Nixie One', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: auto;
  width: 50%;
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  body {
    margin: auto;
    width: 100%;
    padding: 10px;
  }
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
